@media only screen and (max-width: 1150px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem; }
  .cart_container:nth-child(1n+1) {
    float: none; } }

@media only screen and (max-width: 950px) {
  .transfer_seats-item {
    margin-bottom: 2.8rem; }
  .header_menu-item {
    margin-right: 4rem;
    transition-duration: 0.3s; }
  .heder_login-info {
    margin-right: 5rem;
    transition-duration: 0.3s; }
  .det_event-date {
    width: 20%; }
  .det_event-bl {
    width: 49%;
    margin-right: 0;
    margin-bottom: 1rem; }
  .det_event-bl:not(:nth-child(2n+2)) {
    margin-right: 2%; }
  .cart_container:nth-child(3n+3) {
    margin-right: 3rem; }
  .package_item-btn.transform_chose-item {
    margin-left: 4%; }
  .transform_chose-item-request {
    margin-left: 1rem; } }

@media only screen and (max-width: 900px) {
  .way_item {
    min-width: 0; }
  .transfer-way_btn {
    line-height: 1.2; }
  .transform_nav a {
    padding-left: 2rem;
    padding-right: 2rem; }
  .package_item-btn-share {
    width: 21.5rem; } }

@media only screen and (max-width: 767px) {
  .min-menu ul {
    display: block; }
  .open-menu {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    background: url(../images/menu.png) no-repeat center;
    background-size: 100% 100%; }
  .cancel-menu {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background: url(../images/cancel.png) no-repeat center;
    background-size: 100% 100%; }
  #header .min-menu .container {
    text-align: left; }
  .min-menu {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    padding-top: 5rem; }
  .min-menu .header_lenguage_list {
    padding-left: 3rem;
    margin-left: 0; }
  .min-menu .header_lenguage-item a {
    font-size: 2rem; }
  .min-menu .header_login-link {
    font-size: 2rem; }
  .min-menu .header_login-item {
    margin-left: 0;
    width: 100%;
    padding-left: 3rem; }
  .what-next_text {
    float: none; }
  .what-next {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left; }
  .what-next_text {
    padding-right: 0;
    padding-left: 0; }
  .transfer-summ_content {
    padding-left: 2rem;
    padding-right: 2rem; }
  .what-next_text-btn {
    float: none;
    transform: none;
    top: auto;
    right: auto;
    width: 100%;
    position: relative;
    height: 5rem;
    display: block;
    margin-top: 2rem; }
  .transfer-iti-col-text {
    width: 100%;
    margin-top: 2rem; }
  .transfer-iti-col-title {
    width: 100%; }
  .transfer-itinerary-tx, .transfer-itinerary-t {
    width: 100%; }
  .transfer-summ_include:nth-last-child(1), .transfer-summ_include {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
    box-sizing: border-box; }
  .transfer-summ_image-container {
    width: 100%;
    float: none; }
  .ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #003eff;
    background: #007fff; }
  .transform_nav {
    display: none; }
  .transform_nav.transform_nav-min {
    display: inline-block; }
    .transform_nav.transform_nav-min .transform_chose-link {
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
  .transform_chose-item-request {
    margin-left: auto;
    float: none;
    margin-bottom: 2rem;
    padding-top: 0; }
  .transfer-way_list {
    margin-bottom: 1rem; }
  .transfer_way .transfer-way_item-btn {
    margin-bottom: 0; }
  .transfer_chose .transfer_chose-list:nth-child(2) {
    padding: 2rem; }
  .transfer_chose .package_item-money {
    margin-top: 0;
    width: 40%;
    margin-left: 0; }
  #transfer .transfer_chose .transfer_chose-list .package_item {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: none; }
  #transfer .package_item:nth-child(3) {
    width: 55%;
    margin-right: 5%; }
  .transfer-wat_item:not(:nth-child(1)) {
    width: 70%;
    margin-bottom: 4rem; }
  .transfer-wat_item {
    width: 30%; }
  .transfer-wat_item.transfer-way_item-to {
    margin-bottom: 4rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .transfer-wat_item.transfer-way_item-btn {
    width: 100%; }
  .transfer_chose .transfer_chose-list .package_item {
    margin-bottom: 1.5rem; }
  .package_list {
    padding-bottom: 3rem; }
  .tour_chose.package_chose .package_item.package_item-money.package_item-money-last {
    margin-right: 0; }
  .tour_chose.package_chose .package_item-counter {
    margin-bottom: 0;
    margin-top: 3rem; }
  .tour_chose.package_chose .package_item-money {
    width: 100%;
    margin-right: 0%; }
  .tour_chose.package_chose .package_item-counter {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%; }
  .inform-log_link {
    margin-top: 0; }
  .inform_list .inform_item.inform_item-btn {
    height: 5rem; }
  .inform_list .inform_item.inform_item-select {
    height: auto; }
  .inform_reg .inform_item {
    margin-bottom: 3.5rem; }
  .package-text, .package_about-text_container {
    width: 100%;
    margin-right: 0; }
  .package_block-item-info, .package_block-item-imgs {
    width: 100%; }
  .package_item-btn-share, .package_item-btn {
    margin-right: 0;
    width: 100%; }
  .package_item-money {
    margin-bottom: 0;
    margin-top: 3rem;
    width: 49%;
    margin-right: 0; }
  .package_item:nth-child(3) {
    margin-right: 0; }
  .package_item-countries {
    margin-right: 0;
    width: 100%; }
  .package_item-counter {
    width: 49%;
    margin-right: 2%; }
  .package_item-date {
    width: 49%;
    margin-right: 2%; }
  .package_about-map_container {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .cred_pass input {
    padding-right: 5rem; }
  .booking_section-container .year_inp, .booking_section-container .data_inp {
    width: 49%; }
  .booking_section-container .data_inp {
    margin-right: 2%; }
  .booking_section-container .secur_inp {
    width: 100%; }
  .inform_item-btn {
    margin-left: 0; }
  .cred_pass:after {
    bottom: 2.5rem;
    transform: translateY(50%); }
  .way_item span {
    border: none;
    font-size: 2rem;
    line-height: 0.7; }
  .way_item {
    width: 100%;
    display: none; }
  .way_item .way_text {
    font-size: 1.6rem; }
  .way_list {
    margin-top: 1.5rem; }
  .way_item:nth-last-child(1) {
    display: block; }
  .header_lenguage_list, .header_login-list {
    display: none; }
  .header_logo {
    position: relative;
    margin: 0 auto;
    left: auto;
    margin-bottom: 1rem; }
  .header_search_group {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    position: relative;
    left: 0;
    right: 0; }
  .inform_item {
    margin-right: 0;
    width: 100%;
    height: auto;
    margin-bottom: 3rem; }
  .inform_list {
    padding-bottom: 2.7rem;
    margin-bottom: 3rem; }
  .inform_item-btn {
    height: 5rem;
    margin-top: 0; }
  .event-city-title {
    float: left;
    width: 25%; }
  .event-city-text {
    float: left;
    width: 75%; }
  .det_event-bl:not(:nth-child(2n+2)) {
    margin-right: 0; }
  .booking_det_event .det_event-taiting, .booking_det_event .det_event-guest {
    width: 49%; }
  .booking_det_event .det_event-guest {
    margin-right: 2%; }
  .booking_det_event .det_event-date, .booking_det_event .det_event-city {
    width: 100%;
    margin-right: 0; }
  .heder_login-info,
  .left_bar-title,
  .left_bar-banner-link {
    display: none; }
  .header_logo {
    float: none;
    display: block; }
  #header {
    height: auto; }
  .header_logo-img {
    margin: 1rem 0 1rem 0; }
  .left_bar-search {
    margin-top: 2.9rem;
    height: 4.1rem; }
  .left_bar-all .left_bar-search {
    margin-top: 2.9rem;
    height: 4.1rem; }
  .header_menu-list {
    float: none;
    margin: 0 0 0 0;
    padding: 1.5rem 1rem;
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    box-sizing: border-box;
    margin-top: 0.8rem;
    margin-bottom: 0.6rem; }
  .hader_menu-link {
    font-size: 2rem; }
  .single_mail {
    padding: 0; }
  .left_bar {
    position: static;
    width: auto;
    margin: 0 3rem;
    min-height: auto;
    border: 0;
    border-bottom: 1px solid #f1f1f1;
    padding: 12.4rem 0 0; }
  .left_bar-search,
  .left-bar_email-share {
    max-width: 45rem; }
  .mail_header-tetle_section {
    float: none;
    width: auto;
    display: block;
    margin-top: 6rem; }
  .header-controls_search {
    position: absolute;
    float: none;
    top: 2rem;
    left: 3rem; }
  .header_show {
    position: absolute;
    top: 3rem;
    left: 22rem;
    margin: 0; }
  .header-controls_list {
    position: static;
    float: none;
    margin: 3rem 0 0 0; }
  .header-controls_item {
    margin: 0 1.6rem 0 0; }
  .mail_header-controls_section {
    float: none;
    width: auto; }
  .left_bar-input {
    font-size: 1.8rem; }
  .copyright-text {
    line-height: 1.5;
    font-size: 1.6rem;
    padding: 0 2rem;
    margin-top: 1rem; }
  .footer_soc-email {
    display: block;
    font-size: 1.8rem;
    margin: 1rem 3.2rem; }
  .footer_soc {
    text-align: right; }
  #footer {
    height: auto; }
  /*main {
		margin-bottom: 15rem;
	}*/
  .left-bar_email {
    margin-bottom: 1.5rem; }
  .header-controls_item-check-container {
    padding-top: 0.6rem;
    padding-bottom: 0.8rem; }
  .left_bar-container-text {
    padding-left: 1.5rem;
    padding-right: 1.6rem; }
  .left-bar_email {
    font-size: 1.5rem; }
  .left_bar-all {
    margin-left: 1rem;
    margin-right: 1rem; }
  .left_bar-all_list {
    display: none; }
  .all-message-index .header-controls_list {
    margin-top: 1rem; }
  .all_message-item-parent > .all_message-min .all_message-min-check-container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto; }
  .all_message-min {
    position: relative; }
  .all_message-min-check-container label {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto; }
  .all_message-min-check-container {
    width: 20%; }
  .all_message-min_autor {
    float: none;
    width: 90%;
    padding-left: 8.6rem;
    padding-top: 0.7rem;
    font-size: 1.8rem; }
  .all_message-min_email {
    width: 100%;
    float: none;
    padding-left: 8.6rem;
    padding-top: 1.3rem;
    font-size: 2rem;
    letter-spacing: 0.07rem; }
  .all_message-min_text {
    width: 100%;
    padding-left: 8.5rem;
    float: none;
    padding-top: 1.5rem;
    font-size: 1.8rem;
    padding-right: 3rem;
    overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .all_message-min_datte {
    float: none;
    width: 100%;
    text-align: left;
    padding-left: 8.8rem;
    padding-top: 1rem;
    letter-spacing: 0.06rem; }
  .all_message-min-check-container label {
    width: 2rem;
    height: 2rem; }
  .left-bar-btn {
    width: 4.2rem; }
  .left-bar-btn svg {
    width: 2rem;
    margin-top: 1.3rem; }
  .all_message-item-parent_include > .all_message-min:after {
    content: '';
    position: absolute;
    background: url(../images/chevron---down111.png) no-repeat center;
    width: 2rem;
    height: 2rem;
    background-size: 100% auto;
    top: 0;
    right: 1rem;
    bottom: 0;
    display: inline-block;
    transform: rotate(-90deg);
    margin-top: auto;
    margin-bottom: auto;
    transition-duration: 0.3s; }
  .all_message-item-parent_include.all_message-min-active .all_message-min:after {
    transform: rotate(0deg) translateY(-50%); }
  .all_message-item-parent_include > .all_message-min .all_message-min-check-container:after {
    display: none; }
  .all_message-item-parent_include.all_message-min-active .all_message-min-check-container:after {
    display: none; }
  .left_bar-all_list {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding-top: 5rem;
    display: none; }
  .left_bar-all_list-active {
    display: block; }
  .burger-img {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: 999;
    display: block; }
  .corss-img {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    width: 3rem;
    z-index: 9999999;
    height: 3rem;
    display: none; }
  .left_bar-all .left_bar_all-text {
    padding-right: 3rem; }
  .left_bar_all-text {
    font-size: 1.8rem; }
  .left_bar-all_sub-item {
    font-size: 1.8rem; }
  .heder_login-info {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #438bca;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 3rem;
    z-index: 99999; }
  .header_login-status {
    font-size: 14px; }
  .header_login-email {
    font-size: 14px; }
  .header-controls_item-link img {
    height: 2.8rem; } }

@media only screen and (max-width: 600px) {
  .transfer_seats-item {
    margin-right: 0;
    width: 100%; }
  .package_block-item-info_item {
    width: 100%;
    margin-right: 0; } }

@media only screen and (max-width: 420px) {
  .tour-carts_section {
    overflow: hidden; }
  .cart_container {
    margin-right: 0; }
  .pay_var-item-now {
    width: 35%;
    margin-right: 5%;
    float: left; }
  .pay_var-item-letter {
    width: 60%;
    float: left;
    margin-right: 0; }
  .pay_var-list {
    height: 14rem; }
  .request_container {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .request-btn {
    width: 85%;
    margin-top: 5rem;
    margin-bottom: 4rem; } }
