main#map_main
	#map-canvas
	.choose_map
		.container
			h1.choose_map-title Please select a country
				span countries
			a.choose_btn.choose_country__list(href="map.html") 
				span next
script(src="js/country-map.js")
