main#map_start
	.container
		.map-content
			img.nam.active(src='images/map/AMN.png',data-continent="NORTH AMERICA")
			span.nam_point.active
				p.point_text NORTH&nbsp;AMERICA 
			img.sam(src='images/map/SAM.png',data-continent="SOUTH AMERICA")
			span.sam_point
				p.point_text SOUTH&nbsp;AMERICA
			img.aus(src='images/map/AUS.png',data-continent="AUSTRALIA")
			span.aus_point
				p.point_text AUSTRALIA
			img.eur(src='images/map/EUR.png',data-continent="EUROPE")
			span.eur_point
				p.point_text EUROPE 
			img.asi(src='images/map/ASI.png',data-continent="ASIA")
			span.asi_point
				p.point_text ASIA
			img.afr(src='images/map/AFR.png',data-continent="AFRICA")
			span.afr_point
				p.point_text AFRICA
	.choose_map
		.container
			h1.choose_map-title England / Gerany / France
				span countries
			a.choose_btn(href="map.html") 
				span next