main#map_main
	include parts/map.jade
	.choose_map
		.container
			h1.choose_map-title England / Gerany / France
				span countries
			a.choose_btn(href="#") 
				span next
	script(src="js/map.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEtRZne-EYPtxrAAYi_IQzHIgpItJvAQ0&callback=initMap")