main#request
	section.request_section
		.container
			.request_container
				.request-img
				h1.request-title Congratulation!
				p.request-text You succesfully paid your trip. Please, check your email to get tickets and additional information
				a.request-btn(href="#") ok