.booking_section-container{
.inform_list-container{
	background: #fff;
	display: inline-block;
	width: 100%;
}
}
.pay_var-title{
	color: white;
	font-family: 'Lato';
	font-size: 2rem;
}
.pay_var-text{
	color: white;
	font-family: 'Lato';
	font-size: 1.6rem;
	vertical-align: top;
	display: inline-block;
	margin-left: 1.6rem;
	margin-top: 0.1rem;
	letter-spacing: 0.05rem;
}
.pay_var_text-date{
    color: #e73361;
    font-family: 'Lato';
    font-size: 1.6rem;
    margin-top: 1.5rem;
}
.pay_var_text-date_min{
	color: #fff;
	font-size: 1.4rem;
}
.pay_var{
	padding-top: 2.9rem;
	text-align: center;
	.container{
		text-align: left;
	}
}
.pay_var-list{
	margin-top: 2.6rem;
	height: 11rem;
}
.pay_var-item{
	vertical-align: top;
	display: inline-block;
	margin-right: 3.1rem;
	height: 100%;
}
.pay_var-block{
    padding: 1.4rem 1.1rem;
	height: 100%;
	background-color: #33306c;
	border: 1px solid rgba(229, 224, 252, 0.6);
}
.pay_var-label{
	display: inline-block;
	vertical-align: top;
	width: 1.8rem;
	height: 1.8rem;
	border: 1px solid #fff;
}
.pay_var-item-now{
    width: 16.5rem;
}
.pay_var-item-letter{
	width: 26rem;
}
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
}

input[type=checkbox]:checked + label:before { 
    content: "✔";
    font-size: 1.7rem;
    color: #fff;
    margin-left: 0.15rem;
}
.booking_container-title{
    color: #fff;
    font-family: 'Lato';
    font-size: 1.8rem;
    padding-left: 3.3rem;
    letter-spacing: 0rem;
    position: relative;
    &:after{
	    content: '';
	    position: absolute;
	    height: 2rem;
	    width: 1.6rem;
	    background: url(../images/icons/password-w.png) no-repeat center;
	    background-size: auto 100%;
	    left: 0;
	    top: -0.2rem;
    }
}
.booking_section-container{
	margin-bottom: 14rem;
.inform_block-title{
    color: #40396b;
    font-family: Lato;
    font-size: 1.6rem;
    margin-left: 1.6rem;
    margin-top: 1.9rem;
    letter-spacing: 0.01rem;
}
.inform_list{
	padding-bottom: 0;
	padding-top: 2.4rem;
}
.inform_item{
	margin-bottom: 5.5rem;
}
.data_inp{
	width: 13.5%;
}
.year_inp{
	width: 23.5%;	
}
.secur_inp{
    width: 22.2%;
}
.inform-log_link{
	padding-right: 0;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    &:after{
    	display:none;
    }
}
.year_inp p{
	opacity: 0;
}
}
.inform_item-select .inform-title{
	margin-bottom: 1.3rem;
}