#map_main{
	width: 100%;
}
#map{
	width: 100%;
	height: 95vh;
	height: calc(100vh - 7rem);
	position: absolute;
	top: 7rem;
	left: 0;
}
.choose_map{
    background: #0d0d49;
    height: 8rem;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding:1rem;
}
.choose_map-title{
	font-family: Lato;
	font-size: 2.4rem;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	float: left;
	text-align: left;
	margin-top: 1rem;
	span{
		display: block;
		color: #c3bbe3;
		font-family: Lato;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 1px;
	}
}
.choose_btn{
	float: right;
    color: #fff;
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1.14px;
    text-decoration: none;
    display: inline-block;
    width: 16rem;
    text-transform: uppercase;
    height: 5.5rem;
    background-image: linear-gradient(45deg, #e8359e 0%, #e73355 100%);
    line-height: 5.5rem;
    opacity: 1;
    transition-duration: 0.3s;
    &:hover{
    	opacity:0.7;
    	text-align: center;
    }
    span{
    	position: relative;
    	display: inline-block;
    	&:after{
		    content: '';
		    position: absolute;
		    right: -1.9rem;
		    top: 2rem;
		    background: url(../images/icon.png);
		    background-size: 100% 100%;
		    width: 1.7rem;
		    height: 1.3rem;
    	}
    }
}
#map-canvas{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.gm-style .gm-style-iw{
	overflow: auto;
}

.gm-style-iw {
    width: 120px !important;
    top: 53px !important;
    left: 50% !important;
    border-radius: 2px 2px 0 0;
    background: url(../images/board.png) no-repeat center;
    background-size: 100% 100%;
    height: 55px;
    margin-left: -33px;
    overflow: hidden !important;
}
.gm-style-iw ~ div{
	display: none !important;

}
.MyInfo{
	padding: 8px;
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-weight: 500;
}
#map-city{
	width: 100%;
	height: 95vh;
	height: calc(100vh - 7rem);
	position: absolute;
	top: 7rem;
	left: 0;
}
