.transfer_title_container{
	width: 100%;
	text-align: center;
	.container{
		text-align: left;
	}
}
.transfer_title{
    color: white;
    font-family: 'Lato';
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 4.1rem;
    letter-spacing: 0.01rem;
    margin-bottom: 1.6rem;
}
.transfer_date{
    color: white;
    font-family: 'Lato';
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    margin-bottom: 7.7rem;
}
.transfer_way{
    width: 100%;
    text-align: center;
    padding-top: 2.2rem;
}
.transfer-way_list{
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-bottom: 0.6rem;
    padding: 3rem 2.3rem;
}
.transfer-wat_item{
    display: inline-block;
    vertical-align: top;
    float: left;
    text-align: left;
}
.transfer-logo{
    background: url(../images/transfer-icon/bus.png) no-repeat center;
    background-size: 100% 100%;
    width: 5rem;
    height: 5rem;
    margin-right: 2.4rem;
    margin-top: 0.2rem;
}
.transfer-way_title{
    color: #9c94bf;
    font-family: 'Lato';
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.7rem;
    letter-spacing: 1px;
}
.transfer-way_text{
    color: #40396b;
    font-family: 'Lato';
    font-size: 2rem;
    font-weight: 400;
}
.transfer-wat_date{
    color: #40396b;
    font-family: 'Lato';
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1.6rem;
}
.transfer-way_btn{
    color: #e73361;
    border: 1px solid #e73361;
    text-align: center;
    display: inline-block;
    padding: 2rem 4rem;
    text-decoration: none;
    margin-top: 1.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.35rem;
    width: 100%;
    font-family: 'Lato';
    line-height: 0.9rem;
}
.transfer-wat_item:not(:nth-child(1)){
    width: 18%;
}
.transfer-wat_item.transfer-way_item-to{
    margin-left: 8.6%;
    width: 26.7%;
}
.transfer-wat_item.transfer-way_item-btn{
    width: 21.8%;
}