header#header
	a.header_logo(href="/")
		img(src="images/logo.png")
	.container
		.header_search_group
			img.header_search-btn(src="images/icons/search.svg")
			input(type="text",placeholder="Search country")
		ul.header_login-list
			li.header_login-item
				a.header_login-link(href="#") LOG IN
			li.header_login-item
				a.header_login-link(href="#") SIGN UP
		ul.header_lenguage_list
			li.header_lenguage-item.header_lenguage-item_active
				a.heder_lenguage-link(href="#") ENG
			li.header_lenguage-item
				a.heder_lenguage-link(href="#") ARAB