section.inform_container
	.container
		h1.booking_title Your information
		a.sing_new(href="#") Sign up new account
		ul.inform_list
			li.inform_item
				p.inform-title Email
				input.inform-input(type="text",placeholder="Enter your email address")
			li.inform_item
				p.inform-title Password
				input.inform-input(type="text",placeholder="Enter your password")
			li.inform_item.inform_item-btn
				a.inform-log_link(href="#") LOGIN