section.tour-carts_section
	.container
		.cart_container
			.cart_img-container
				.cart-cost_conatiner
					p.cart-cost 780$
					p.cart-days 14 DAYS
				.cart-img-list
					.owl-item
					.owl-item
			.cart_content-container
				p.cart-title Wonder of England queen
				p.cart-star-text Historic and architecture
				.cart-star-container
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon
				p.cart-top.cart-min-title TOP PLACES
				p.cart-path London - Manchester - Birmingen - Lester - Westminster
				p.cart-highloghts.cart-min-title TOP HIGHLIGHTS
				p.cart-path Eiffel Tower - Notre Dame - London Eye - Buckingham Palace
				a.cart-btn(href='#') view details
		.cart_container
			.cart_img-container
				.cart-cost_conatiner
					p.cart-cost 780$
					p.cart-days 14 DAYS
				.cart-img-list
					.owl-item
					.owl-item
			.cart_content-container
				p.cart-title Wonder of England queen
				p.cart-star-text Historic and architecture
				.cart-star-container
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon
				p.cart-top.cart-min-title TOP PLACES
				p.cart-path London - Manchester - Birmingen - Lester - Westminster
				p.cart-highloghts.cart-min-title TOP HIGHLIGHTS
				p.cart-path Eiffel Tower - Notre Dame - London Eye - Buckingham Palace
				a.cart-btn(href='#') view details
		.cart_container
			.cart_img-container
				.cart-cost_conatiner
					p.cart-cost 780$
					p.cart-days 14 DAYS
				.cart-img-list
					.owl-item
					.owl-item
			.cart_content-container
				p.cart-title Wonder of England queen
				p.cart-star-text Historic and architecture
				.cart-star-container
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon
				p.cart-top.cart-min-title TOP PLACES
				p.cart-path London - Manchester - Birmingen - Lester - Westminster
				p.cart-highloghts.cart-min-title TOP HIGHLIGHTS
				p.cart-path Eiffel Tower - Notre Dame - London Eye - Buckingham Palace
				a.cart-btn(href='#') view details
		.cart_container
			.cart_img-container
				.cart-cost_conatiner
					p.cart-cost 780$
					p.cart-days 14 DAYS
				.cart-img-list
					.owl-item
					.owl-item
			.cart_content-container
				p.cart-title Wonder of England queen
				p.cart-star-text Historic and architecture
				.cart-star-container
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon
				p.cart-top.cart-min-title TOP PLACES
				p.cart-path London - Manchester - Birmingen - Lester - Westminster
				p.cart-highloghts.cart-min-title TOP HIGHLIGHTS
				p.cart-path Eiffel Tower - Notre Dame - London Eye - Buckingham Palace
				a.cart-btn(href='#') view details
		.cart_container
			.cart_img-container
				.cart-cost_conatiner
					p.cart-cost 780$
					p.cart-days 14 DAYS
				.cart-img-list
					.owl-item
					.owl-item
			.cart_content-container
				p.cart-title Wonder of England queen
				p.cart-star-text Historic and architecture
				.cart-star-container
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon
				p.cart-top.cart-min-title TOP PLACES
				p.cart-path London - Manchester - Birmingen - Lester - Westminster
				p.cart-highloghts.cart-min-title TOP HIGHLIGHTS
				p.cart-path Eiffel Tower - Notre Dame - London Eye - Buckingham Palace
				a.cart-btn(href='#') view details
		.cart_container
			.cart_img-container
				.cart-cost_conatiner
					p.cart-cost 780$
					p.cart-days 14 DAYS
				.cart-img-list
					.owl-item
					.owl-item
			.cart_content-container
				p.cart-title Wonder of England queen
				p.cart-star-text Historic and architecture
				.cart-star-container
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon.star-gold
					span.star-icon
				p.cart-top.cart-min-title TOP PLACES
				p.cart-path London - Manchester - Birmingen - Lester - Westminster
				p.cart-highloghts.cart-min-title TOP HIGHLIGHTS
				p.cart-path Eiffel Tower - Notre Dame - London Eye - Buckingham Palace
				a.cart-btn(href='#') view details
