section.transfer_seats
	.container
		p.transfer_seats-title Dec 01, Wed
		ul.transfer_seats-list
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Beijing Kung Fu Show
						.transfer_seats_edit
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Spain Cathedra
						.transfer_seats_edit
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Beijing Kung Fu Show
						.transfer_seats_edit
		p.transfer_seats-title Dec 01, Wed
		ul.transfer_seats-list
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Beijing Kung Fu Show
						.transfer_seats_edit
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Spain Cathedra
						.transfer_seats_edit
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Beijing Kung Fu Show
						.transfer_seats_edit
		p.transfer_seats-title Dec 01, Wed
		ul.transfer_seats-list
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Beijing Kung Fu Show
						.transfer_seats_edit
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Spain Cathedra
						.transfer_seats_edit
			li.transfer_seats-item
				.transfer_seats-container
					.transfer_seats-image
					.transfer_seats-content
						p.transfer_seats_time 08:30 - 15:30
						p.transfer_seats_object Beijing Kung Fu Show
						.transfer_seats_edit