section.transfer_way
	.container
		ul.transfer-way_list
			li.transfer-wat_item
				.transfer-logo
			li.transfer-wat_item.transfer-way_item-type
				p.transfer-way_title TRANSFER TYPE
				p.transfer-way_text Transfer
			li.transfer-wat_item.transfer-way_item-from
				p.transfer-way_title FROM
				p.transfer-way_text Beijing Capital Airport
				p.transfer-wat_date 21 Dec, 12:00 PM
			li.transfer-wat_item.transfer-way_item-to
				p.transfer-way_title TO
				p.transfer-way_text Beijing New Future Hotel
				p.transfer-wat_date 22 Dec, 13:00 AM
			li.transfer-wat_item.transfer-way_item-btn
				a.transfer-way_btn(href="#") DETAILS & ADJUST
		ul.transfer-way_list
			li.transfer-wat_item
				.transfer-logo
			li.transfer-wat_item.transfer-way_item-type
				p.transfer-way_title CITY
				p.transfer-way_text London
			li.transfer-wat_item.transfer-way_item-from
				p.transfer-way_title HOTEL
				p.transfer-way_text London hotel 3*
			li.transfer-wat_item.transfer-way_item-to
				p.transfer-way_title ROOM
				p.transfer-way_text Standart double room
			li.transfer-wat_item.transfer-way_item-btn
				p.transfer-way-path 4 nights (Feb 01 - Feb 05)
				#slider