.booking_det{
	width: 100%;
	text-align: center;
}
.booking_det .container{
	text-align: left;
}
.booking_title{
    color: #fff;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 4.1rem;
    margin-bottom: 2rem;
}
.booking_container{
    width: 100%;
    height: auto;
    background-color: #282560;
    border: 1px solid #9c94bf;
    padding: 1.4rem 1.6rem 1rem 1.6rem;
}
.booking_det-title{
	color: #fff;
	font-family: Lato;
	font-size: 1.8rem;
	font-weight: 300;
}
.booking_det-range{
	color: #fff;
	font-family: Lato;
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 1.5rem;
	letter-spacing: 0.01rem;
}
.booking_det-price{
    color: #e5e0fc;
    font-family: Lato;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 2.8rem;
    margin-bottom: 2.5rem;
    span{
    	padding-left: 1.5rem;
    }
}
.booking_det_event p{
	color: #e5e0fc;
	font-family: Lato;
	font-size: 1.6rem;
	font-weight: 300;
}
.det_event-bl{
    display: inline-block;
    vertical-align: top;
    background: #3c3787;
    padding: 1.2rem 1.6rem;
	margin-right: 2.5%;
}
.booking_det_event{
	margin-top: 2rem;
	display: inline-block;
	width: 100%;
}
.event-title{
	display: inline-block;
	vertical-align: top;
	width: 8rem;
	float: left;
}
.event-text{
	vertical-align: top;
	display: inline-block;
	float: left;
	padding-left: 0.7rem;
	letter-spacing: 0.03rem;
}
.det_event-city{
	width: 40%;
	vertical-align: top;
	float: left;
}
.det_event-guest{
	width: 15%;
	float: left;
}
.det_event-taiting{
	width: 15%;
}
.det_event-date{

}