.package_chose{
	padding-top: 1.6rem;
	text-align: center;
}
.package_item-title{
	color: #e5e0fc;
	font-family: 'Lato';
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 1.5rem;
}
.package_list{
    width: 100%;
    background-color: #282560;
    border: 1px solid #9c94bf;
    box-shadow: 0 0 10px rgba(28, 25, 47, 0.5);
    display: inline-block;
    padding: 1.7rem 3.1rem;
    padding-bottom: 0.8rem;
}
.package_item{
	float: left;
	display: inline-block;
	text-align: left;
	position: relative;
	margin-right: 3%;
	margin-bottom: 2.4rem;
}
.package_item_text{
    border: none;
    color: #fff;
    background-color: #3c3787;
    box-shadow: 0 2px 11px #222054;
    padding: 1.1rem;
    letter-spacing: 0.07rem;
    font-size: 1.35rem;
    height: 4rem;
    padding-bottom: 1.3rem;
    width: 100%;
}
.package_item-countries{
	width: 42.5%;
}
.ui-spinner a.ui-spinner-button.ui-spinner-up{
	float: right;
	margin: 0;
	position: absolute;
	right: 0;
	top:0;
	width: 30%;
	height: 100%;
	background: none;
	border:none;
	&:after{
		content: '';
		width: 1px;
		height: 70%;
		background-color: rgba(195, 187, 227, 0.4);
		left: 0;
		top: 15%;
		position: absolute;
		display: inline-block;
	}
}
.ui-spinner a.ui-spinner-button.ui-spinner-down{
	float: left;
	margin: 0;
	width: 30%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: none;
	border:none;
		&:after{
		content: '';
		width: 1px;
		height: 70%;
		background-color: rgba(195, 187, 227, 0.4);
		right: 0;
		top: 15%;
		position: absolute;
		display: inline-block;
	}
}
.package_item-counter{
	width: 13.5%;
}
.package_item-counter .package_item_text{
	text-align: center;
	color: white;
	font-size: 1.6rem;
	font-weight: 400;
	height: 4rem;
	box-sizing: border-box;
	border:none;
	padding-top: 1rem;
}
.package_item-counter .ui-widget.ui-widget-content{
	height: 4rem !important;
}
.package_item-counter .ui-widget.ui-widget-content{
	border:none !important;
}
.package_item-counter .ui-spinner-input{
	margin: 0;
}
.package_item-date{
	width: 21.5%;
	margin-right: 0;
}
.package_item_text-label{
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../images/calendar.png) no-repeat center;
	background-size: 37% 47%;
	width: 5rem;
	height: 4rem;
	&:after{
		content: '';
		width: 1px;
		height: 70%;
		background-color: rgba(195, 187, 227, 0.4);
		left: 0;
		top: 15%;
		position: absolute;
		display: inline-block;
	}
}
.package_item-date .package_item_text{
	padding-right: 3rem;
}
.package_item-money{
	width: 11.5%;
	.package_item_text{
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #c3bbe3;
	border-radius: 0;
	color: white;
	font-family: 'Lato';
	font-size: 1.6rem;
	font-weight: 400;
	height: 5rem;
	}
}
.package_item-btn{
	width: 28%;
	.package-log_link{
	    margin: 0;
	    width: 100%;
	    height: 5rem;
	    font-size: 1.4rem;
	    letter-spacing: 0.1rem;
	    line-height: 4.8rem;
	}
}
.package-log_link.inform-log_link:after{
	text-align: center;
    content: '';
    position: relative;
    top: 1.3rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5rem;
}
.package_item-btn-share{
	margin-right: 0;
	float: right;
	width: 21.5%;
	.package-log_link{
		width: 100%;
	    background-color: #7e6dcf;
	    color: white;
	    font-family: 'Lato';
	    font-size: 1.4rem;
	    font-weight: 400;
	    line-height: 4.8rem;
	    position: relative;
	    text-decoration: none;
	    display: inline-block;
	    padding: 0 1rem;
	    letter-spacing: 0.07rem;
	    text-align: center;
		&:before{
		    content: '';
		    position: relative;
		    width: 1.8rem;
		    height: 1.8rem;
		    background: url(../images/shape.png) no-repeat center;
		    background-size: 100% 100%;
		    display: inline-block;
		    vertical-align: top;
		    margin-top: 1.5rem;
		    margin-right: 1.3rem;
		}
		&:hover{
			opacity: 0.6;
		}
	}
}