.package_block{
	text-align: center;
	padding-top: 2rem;
}
.package_block-item_content{
	background: #fff;
	display: inline-block;
	width: 100%;
	text-align: left;
}
.package_block-item-info{
	width: 50%;
	float: left;
	padding: 3rem 3.2rem;
}
.package_block-item-imgs{
    width: 50%;
    float: left;
    padding: 2.2rem 2rem 2.2rem 1.5rem;
    padding-bottom: 0;
}
.package_block-item-info-title{
	color: #40396b;
	font-family: 'Lato';
	font-size: 2rem;
	font-weight: 700;
}
.package_block-item-info-text{
    color: black;
    font-family: 'Lato';
    font-size: 1.6rem;
    margin-top: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.013rem;
    line-height: 1.65;
}
.package_block-item-info-top-title{
    color: #7e6dcf;
    font-family: 'Lato';
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 3.5rem;
}
.package_block-item-info-item-text{
	color: #40396b;
	font-family: 'Lato';
	font-size: 1.6rem;
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	line-height: 3.1rem;
}
.view-link{
	color: #e73361;
	font-family: 'Lato';
	font-size: 1.4rem;
	font-weight: 400;
	text-decoration: none;
	margin-top: 1rem;
	display: inline-block;
	letter-spacing: 0.05rem;
}
.package_block-item-info_list{
	display: inline-block;
	margin-top: 2.6rem;
	width: 100%;
}
.package_block-item-info_item{
	width: 45%;
	margin-right: 5%;
	float: left;
	display: inline-block;
}
.package_block-item-img{
	background: url(../images/img1.png) no-repeat center;
	background-size: cover;
	float: left;
	margin-bottom: 2.2rem;
}
.package_block-item-img:nth-child(1),.package_block-item-img:nth-child(4){
    width: 64.5%;
    height: 18rem;
}
.package_block-item-img:nth-child(2),.package_block-item-img:nth-child(3){
	width: 31.5%;
	height: 18rem;
}
.package_block-item-img:nth-child(1){
    margin-right: 4%;
}
.package_block-item-img:nth-child(3){
    margin-right: 4%;
}
.package_block-item-info_item{
	margin-bottom: 2.2rem;
	span{
	position: relative;
		&:before{
		    content: '';	
		    position: relative;
		    width: 3.3rem;
		    height: 3.3rem;
		    display: inline-block;
		    vertical-align: top;
		        margin-right: 1.5rem;
		}
	}
}
.item-info-museum{
	span{
		&:before{
			background:url(../images/top-icon/museum.png) no-repeat center;
			background-size: auto 100%;
		}
	}
}
.item-info-smile{
	span{
		&:before{
			background:url(../images/top-icon/smile.png) no-repeat center;
			background-size: auto 100%;
		}
	}
}
.item-info-animal{
	span{
		&:before{
			background:url(../images/top-icon/animal.png) no-repeat center;
			background-size: auto 100%;
		}
	}
}
.item-info-city{
	span{
		&:before{
			background:url(../images/top-icon/city.png) no-repeat center;
			background-size: auto 100%;
		}
	}
}