.transfer-summ_text-section	{
	width: 100%;
	text-align: center;
	color: #000;
    font-family: 'Lato';
    font-size: 1.6rem;
	.container{
		text-align: left;
	}
}
.transfer-summ_content{
	background: #fff;
	margin-top: 2.3rem;
	height: auto;
	width: 100%;
	display: inline-block;
	padding: 2.4rem;
	padding-left: 3.2rem;
	padding-bottom: 2.6rem;
}
.transfer-summ_title-container{
	width: 77.5%;
	float: left;
	display: inline-block;
}
.transfer-summ_image-container{
	width: 22.5%;
	float: left;
	display: inline-block;
	.transfer-summ-images{
		width: 100%;
		background: url(../images/transfer-icon/bound.jpg) no-repeat center;
		background-size: cover;
		height: 19rem;
	}
}
.transfer-summ_title-container{
	text-align: left;
}
.transfer-summ_title{
	margin-top: 1.5rem;
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: -0.01rem;
}
.transfer-summ_text{
	margin-top: 1.5rem;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.003rem;
	margin-bottom: 3.6rem;
}
p.transfer-summ_title{
	margin-bottom: 1.7rem;
}
.transfer-summ_cost{
    margin-bottom: 1.8rem;
    font-weight: 600;
    width: 86.5%;
	span{
		float: right;
	}
}
.transfer-summ_cost.transfer-summ_cost-total{
	span{
		color: #e73361;
	}
}
.transfer-summ_include-container{
	background: #f6f6f6;
	display: inline-block;
	width: 100%;
	margin-top: 1rem;
	padding-bottom: 1rem;
}
.transfer-summ_include{
    width: 60%;
    float: left;
    box-sizing: border-box;
    padding-left: 6.5rem;
    padding-top: 2rem;
}
.transfer-summ_include:nth-last-child(1){
	width: 40%;
	padding-left: 0;
}

.transfer-summ_item{
	margin-bottom: 0.9rem;
	padding-left: 2.4rem;
	letter-spacing: -0.07rem;
	position: relative;
	&:after{
	    content: '';
	    background: url(../images/transfer-icon/check.png) no-repeat center;
	    background-size: 100% auto;
	    width: 1.4rem;
	    height: 1.2rem;
	    position: absolute;
	    top: 0.2rem;
	    left: 0;
	}
}
.transfer-summ_item-none{
	&:after{
		content: '';
		background: url(../images/transfer-icon/check1.png) no-repeat center;
		background-size: 100% auto;
		width: 1.1rem;
		height: 1.1rem;
		position: absolute;
		top: 0.2rem;
		left: 0.2rem;
	}
}
.transfer-summ_item-title{
    font-weight: 600;
    margin-bottom: 1.2rem;
    padding-left: 0;
    &:after{
    	background:none;
    }
}
.transfer-itinerary{
	margin-top:3rem;
}
.transfer-itinerary_title{
	font-weight: 600;
	margin-bottom: .3rem;
}
.transfer-itinerary_item_title{
    font-weight: 600;
    margin-bottom: 2.4rem;
}
.transfer-itinerary_item-text{
	font-weight: 600;
	margin-bottom: 2.4rem;
}
.transfer-itinerary-t{
	width: 24%;
	float: left;
}
.transfer-itinerary-tx{
	width: 76%;
	float: left;
}
.transfer-itinerary_item_time{
	font-size: 1.4rem;
	margin-bottom: 3rem;
	span{
		margin-right: 3rem;
	}
}
.transfer-iti-row{
    font-size: 1.4rem;
    margin-bottom: 3.3rem;
    font-weight: 600;
    display: inline-block;
    width: 100%;
}
.transfer-iti-col-title{
    padding-left: 4.6rem;
    display: inline-block;
    float: left;
    width: 35.4%;
    box-sizing: border-box;
    position: relative;
    &:after{
    	content:'';
    	position: absolute;
    	left: 0;
    	top: -0.8rem;
    	background: url(../images/transfer-icon/bus.png) no-repeat center;
    	background-size: 100% 100%;
    	width: 3.2rem;
    	height: 3.2rem;
    }
}
.transfer-iti-col-text{
	width: 40%;
	float: left;
	line-height: 1.6;
	margin-top: -0.6rem;
}
.transfer-iti-row:nth-last-child(1){
	margin-bottom: 0;
}
.transfer-itinerary_list{
	width: 100%;
	display: inline-block;
	padding-bottom: 1.9rem;
	padding-top: 2rem;
	border-bottom: 1px solid #e5e5e5;
}
.transfer-iti-col-paragraph{
	display: block;
	float: left;
	width: 74%;
	box-sizing: border-box;
	margin-top: 1.5rem;
	line-height: 1.7;
	margin-bottom: 2.7rem;
}
.transfer-itinerary_list:nth-last-child(1){
	padding-bottom: 0;
	border-bottom: none;
}
.what-next{
	width: 100%;
	display: inline-block;
	background: #fff;
	position: relative;
	padding-bottom: 2.8rem;
	margin-bottom: 2rem;
}
.what-next_text{
    float: left;
    display: inline-block;
    text-align: left;
    padding-left: 3.3rem;
    padding-top: 2rem;
    font-family: Lato;
    color: #000;
}
.what-next_text-btn{
    float: right;
    color: white;
    font-family: 'Lato';
    font-size: 1.6rem;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26.2rem;
    height: 5rem;
    background-image: linear-gradient(45deg, #e8359e 0%, #e73355 100%);
    text-decoration: none;
    text-align: center;
    line-height: 5rem;
    box-sizing: border-box;
    right: 3.5rem;
    letter-spacing: 0.15rem;
}
.what-next_section{
	text-align: center;
	width: 100%;
	margin-top:1.6rem;
}
.what-next-title{
	font-size: 2.3rem;
	font-weight: 600;
	letter-spacing: -0.07rem;
	margin-bottom: 1.5rem;
}
.what-next-text{
    font-size: 1.5rem;
    letter-spacing: -0.045rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}
.what-next-text{
	color: #e83966;
	span{
		color: #000;
	}
}
