.way_block-container{
	text-align: center;
}
.way_block-container{
	color:#fff;
	font-family: 'Lato';
	font-weight: 300;
	font-size: 1.2rem;
}
.selectric-items li.selected{
	background: #9c94bf;
}
.package_block-item{
	margin-bottom: 2rem;
}
.way_list{
	width: 100%;
	text-align: left;
	background: #282560;
	box-shadow: inset -1px -1px 0 #40396b;
}
.way_stap-link{
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.way_item{
	min-width: 18.4rem;
	background: #282560;
	border-left: 1px solid #40396b;
	display: inline-block;
	vertical-align: top;
	padding-left: 1.5rem;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	padding-right: 5.2rem;
	span{
	    width: 1.7rem;
	    height: 1.7rem;
	    text-align: center;
	    border: 1px solid #fff;
	    border-radius: 50%;
	    display: inline-block;
	    vertical-align: top;
	    padding-top: 0.1rem;
	}
	.way_text{
		display: inline-block;
		vertical-align: top;
		margin-top: 0.2rem;
		margin-left: 0.7rem;
	}
}
.prev_step{
	background: #7e6dcf;
	span{
		background: #fff;
		color:#7e6dcf;
		text-align: center;
	}
	.way_text{
	}
}