section.inform_container.booking_section-container
	.container
		h1.booking_title.booking_container-title All card information is fully encrypted, secure and protected
		.inform_list-container
			p.inform_block-title We accept the folowing payment methods
			ul.inform_list
				li.inform_item.inform_item-select
					p.inform-title Select payment method
					select.inform-input_select-country(value="Please, select one")
						option(value="UK") UK
						option(value="USA") USA
						option(value="Saudi Arabia") Saudi Arabia
				li.inform_item.cred_pass
					p.inform-title Credit/debid card #
					input.inform-input(type="text",placeholder="Enter your number card")
				li.inform_item.inform_item-btn
					p.inform-title Card holder name
					input.inform-input(type="text",placeholder="Enter the name holder")
				li.inform_item.data_inp.inform_item-select
					p.inform-title Explire date
					select.inform-input_select-country(value="Select month")
						option(value="UK") UK
						option(value="USA") USA
						option(value="Saudi Arabia") Saudi Arabia
				li.inform_item.year_inp
					p.inform-title |
					input.inform-input(type="text",placeholder="Enter year")
				li.inform_item.cred_pass.secur_inp
					p.inform-title Card security code
					input.inform-input(type="text",placeholder="Enter the security code")
				li.inform_item.inform_item-btn
					a.inform-log_link(href="#") BOOK AND PAY NOW