section.booking_det
	.container
		h1.booking_title Booking details
		.booking_container
			p.booking_det-title Wonder of England queen
			p.booking_det-range Mar 01 - Mar 13 2017
			.booking_det_event
				.det_event-city.det_event-bl
					p.event-city-title.event-title Cities:
					p.event-city-text.event-text London - Paris - Leon - Muchen - Berlin
				.det_event-guest.det_event-bl
					p.event-guest-title.event-title Guests:
					p.event-guest-text.event-text 1
				.det_event-taiting.det_event-bl
					p.event-taiting-title.event-title Raiting:
					p.event-taiting-text.event-text 4*
				.det_event-date.det_event-bl
					p.event-taiting-title.event-title Start date:
					p.event-taiting-text.event-text 17.10.2016
			p.booking_det-price Total price: 
				span $3200