section.inform_container.inform_reg
	.container
		h1.booking_title Your information
		a.sing_new(href="#") Sign in to your account
		ul.inform_list
			li.inform_item
				p.inform-title First name
				input.inform-input(type="text",placeholder="Enter your first name")
			li.inform_item
				p.inform-title Last name
				input.inform-input(type="text",placeholder="Enter your last name")
			li.inform_item.inform_item-btn.inform_item-select
				p.inform-title Country of residence
				select.inform-input_select-country
					option(value="UK") UK
					option(value="USA") USA
					option(value="Saudi Arabia",selected) Saudi Arabia
			li.inform_item
				p.inform-title Mobile number
				input.inform-input(type="text",placeholder="Enter your phone number")
			li.inform_item
				p.inform-title Email
				input.inform-input(type="text",placeholder="Enter your email address")
			li.inform_item.inform_item-btn
				a.inform-log_link(href="#") CONTINUE