section.package_chose
	.container
		ul.package_list
			li.package_item.package_item-countries
				p.package_item-title Countries
				input.package_item_text(type="text",value="England - Germany - France",readonly)
			li.package_item.package_item-counter
				p.package_item-title Guests
				input.package_item_text(type="text",value="1",id="spinner1",readonly)
			li.package_item.package_item-counter
				p.package_item-title Raiting
				input.package_item_text(type="text",value="4",id="spinner2",readonly)
			li.package_item.package_item-date
				p.package_item-title Start date
				input.package_item_text(type="text",placeholder="date",id="datepicker")
				label.package_item_text-label(for="datepicker")
			li.package_item.package_item-money
				input.package_item_text(type="text",value="$3200",readonly)
			li.package_item.package_item-btn
				a.inform-log_link.package-log_link(href="#") START PLANNING
			li.package_item.package_item-btn-share
				a.package-log_link(href="#") SHARE THIS PACKAGE