section.package_block
	.container
		ul.package_block-list
			li.package_block-item
				.package_block-item_content
					.package_block-item-info
						p.package_block-item-info-title Day 1-3 - London 
						p.package_block-item-info-text London is the capital and most populous city of England and the United Kingdom. Standing on the River Thames in the south east of the island of Great Britain, London has been a major settlement for two millennia. It was founded.
						p.package_block-item-info-top-title TOP HIGHLIGHTS
						ul.package_block-item-info_list
							li.package_block-item-info_item.item-info-museum
								span.package_block-item-info-item-text Grand Buddha of Leshan
							li.package_block-item-info_item.item-info-smile
								span.package_block-item-info-item-text The French Concession
							li.package_block-item-info_item.item-info-animal
								span.package_block-item-info-item-text The Summer Palace
							li.package_block-item-info_item.item-info-city
								span.package_block-item-info-item-text Big city zoo
						a.view-link(href="#") VIEW DETAILS ABOUT LONDON
					.package_block-item-imgs
						.package_block-item-img
						.package_block-item-img
						.package_block-item-img
						.package_block-item-img
