section.package_about
	.container
		.package_about-text_container
			h1.package-title Wonder of England queen
			p.package-date Mar 01 - Mar 13 2017
			p.package-text If you have never visited China, but have a desire to gain an understanding of this diverse and complex nation, this itinerary offers an excellent introduction. With large-scale modern cities to leisurely paced villages, China provides first-time visitors with a plethora of conflicting impressions. In this itinerary, you will have the opportunity to see and experience a wide variety of China's highlights including historic Beijing, ancient Xi'an, the Pandas of Chengdu, the epic landscapes of Yangshuo and the juxtapositions of Shanghai.	
		.package_about-map_container
			.package-map