section.pay_var
	.container
		h1.pay_var-title How would you like to pay?
		ul.pay_var-list
			li.pay_var-item.pay_var-item-now
				.pay_var-block
					input#pay_now(type="checkbox")
					label.pay_var-label(for="pay_now")
					p.pay_var-text Pay now
			li.pay_var-item.pay_var-item-letter
				.pay_var-block
					input#pay_letter(type="checkbox")
					label.pay_var-label(for="pay_letter")
					p.pay_var-text Pay later
					p.pay_var_text-date Pay later on January 11, 2017
					p.pay_var_text-date.pay_var_text-date_min Your card must be valid until 01/2017 