section.transfer-summ_text-section
	.container
		.transfer-summ_content
			.transfer-summ_container
				.transfer-summ_title-container
					h1.transfer-summ_title Wonder of England queen
					p.transfer-summ_text Itinerary for 2 Travelers, Mar 08 - Mar 20 2017 (12 nights)
					p.transfer-summ_title Overall Costs
					p.transfer-summ_cost Price per Person
						span USD 2,536
					p.transfer-summ_cost.transfer-summ_cost-total TOTAL PRICE
						span USD 5,072
				.transfer-summ_image-container
					.transfer-summ-images(src="images/transfer-icon/bound.jpg")
			.transfer-summ_include-container
				ul.transfer-summ_include
					li.transfer-summ_item.transfer-summ_item-title Included
					li.transfer-summ_item 24/7 local assistance
					li.transfer-summ_item All transfers as per program
					li.transfer-summ_item Accommodation and activities according to your selection
				ul.transfer-summ_include
					li.transfer-summ_item.transfer-summ_item-title Excluded
					li.transfer-summ_item.transfer-summ_item-none 24/7 local assistance
			.transfer-itinerary
				.transfer-itinerary_title ITINERARY
				ul.transfer-itinerary_list
					li.transfer-itinerary_item.transfer-itinerary-t 
						p.transfer-itinerary_item_title Mar 08 2017
						p.transfer-itinerary_item_time
							span 09:00
							span 10:00
					li.transfer-itinerary_item.transfer-itinerary-tx
						p.transfer-itinerary_item-text Arriving in London
						.transfer-iti-row
							.transfer-iti-col-title Road Transfer (Private)
							.transfer-iti-col-text London Capital Airport - London Hotel
						.transfer-iti-row
							.transfer-iti-col-title Road Transfer (Private)
							.transfer-iti-col-text Novotel Xinqiao London Double Room Double Bed Incl.: Breakfast
				ul.transfer-itinerary_list
					li.transfer-itinerary_item.transfer-itinerary-t
						p.transfer-itinerary_item_title Mar 08 2017
						p.transfer-itinerary_item_time
							span 08:30
							span 16:30
					li.transfer-itinerary_item.transfer-itinerary-tx
						p.transfer-itinerary_item-text Arriving in London
						.transfer-iti-row
							.transfer-iti-col-title Road Transfer (Private)
							.transfer-iti-col-text London Capital Airport - London Hotel
							.transfer-iti-col-paragraph Visit the largest royal garden in China and the most well-preserved Great Wall sections this day. Incl.: English-Speaking Guide & Entrance Fees Round-Trip Transfer
							.transfer-iti-col-title Road Transfer (Private)
							.transfer-iti-col-text Novotel Xinqiao London Double Room Double Bed Incl.: Breakfast
				ul.transfer-itinerary_list
					li.transfer-itinerary_item.transfer-itinerary-t
						p.transfer-itinerary_item_title Mar 11 2017
						p.transfer-itinerary_item_time
							span 08:30
							span 16:30
						p.transfer-itinerary_item_time
							span 08:30
							span 13:50
						p.transfer-itinerary_item_time
							span 14:05
							span 14:45
					li.transfer-itinerary_item.transfer-itinerary-tx
						p.transfer-itinerary_item-text Beijing and City Wall & Museum & Great Mosque & Muslim Quarter (Beijing to Xi'an)
						.transfer-iti-row
							.transfer-iti-col-title Road Transfer (Private)
							.transfer-iti-col-text Forbidden City & Temple of Heaven
						.transfer-iti-row
							.transfer-iti-col-title Train Transfer
							.transfer-iti-col-text Beijing West Train Station - Xi'an North Train Station Incl.: 1st Class
						.transfer-iti-row
							.transfer-iti-col-title Road Transfer (Private)
							.transfer-iti-col-text Xi'an North Train Station - Xi'an Hotel