section.way_block-container
	.container
		ul.way_list
			li.way_item.prev_step
				a.way_stap-link(href="#")
					span 1 
					p.way_text Choose your destination
			li.way_item.prev_step
				a.way_stap-link(href="#")
					span 2
					p.way_text 	Choose your package
			li.way_item.prev_step
				a.way_stap-link(href="#")
					span 3
					p.way_text Client information
			li.way_item
				a.way_stap-link(href="#")
					span 4
					p.way_text Payment
			li.way_item
				a.way_stap-link(href="#")
					span 5
					p.way_text Confirmation