section.what-next_section
	.container
		.what-next
			.what-next_text 
				h1.what-next-title What’s next?
				p.what-next-text - Go to the travel planner 
					span to select activities, pick hotels and change durations.
				p.what-next-text - Go to the summary 
					span to send yourself a link to the itinerary or to print it.
			a.what-next_text-btn(href="#") CHECKOUT
