html
	include jade/document_default/head.jade
	body
		include jade/svg.html
		include jade/parts/header.jade
		script(src="js/jquery_v3.js")
		script(src="js/country-map.js")
		script(src="https://maps.google.com/maps/api/js?key=AIzaSyCjsJc3KKzrSNImnHvnHiv5K_clmFEQDgM&callback=initMap")
		include jade/parts/way_block.jade
		include jade/map-country.jade
		include jade/parts/footer.jade
