html
	include jade/document_default/head.jade
	body
		include jade/svg.html
		include jade/parts/header.jade
		include jade/parts/way_block.jade
		include jade/no-request.jade
		include jade/document_default/footer.jade
		include jade/parts/footer.jade