:root {
  font-size: 10px; }

@media only screen and (max-width: 1280px) {
  :root {
    font-size: 0.8vw; 
	} 
}
@media only screen and (max-width: 1080px) {
  :root {
    font-size: 7.9px; 
	} 
}
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  src: url('../fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 800;
  src: url('../fonts/Lato/Lato-Black.ttf');
}
body{
  cursor: default;
  background:url(../images/bg.jpg) no-repeat center;
  background-size:cover;
  width:100%;
  /*height:100%;*/
  /*position: fixed;*/
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:auto;
}
.svg_all{
	display: none;
}

@import "partials/head-foot";
@import "partials/way_block";
@import "partials/booking_det";
@import "partials/inform";
@import "partials/registration";
@import "partials/booking";
@import "partials/package_about";
@import "partials/package_chose";
@import "partials/package_block";
@import "partials/transfer";
@import "partials/transfer_chose";
@import "partials/transfer_seats";
@import "partials/request";
@import "partials/tour";