script(src="js/jquery_v3.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.selectric.js")
script(src="js/jquery-ui.min.js")
script(src="js/script.js")
script(src="js/map.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp3GKY3W6bIAhFFOCg9zoRix-fl7IUgz0&callback=initMap")