main#transfer
	section.transfer_title_container
		.container
			h1.transfer_title Wonder of England queen
			p.transfer_date Mar 01 - Mar 13 2017 
	include parts/transfer_chose.jade
	include parts/transfer-list.jade
	include parts/what-next.jade